@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    font-family: 'Just Another Hand', cursive;
    font-weight: 200;
    font-size: 2rem;
}

.titleLogo {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    
}