* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour la barre de navigation */
nav {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  height: 70px;
  width: 100%;
}

.burger {
  width: 40px;
  margin-right: 20px;
}

nav div p {
  text-align: center;
  margin-left: 70px;
}

nav div h1 {
  margin-left: 20px;
}

a,
a :visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arial", cursive;
  font-size: 18px;
}

a:hover {
  color: white;
}

nav {
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vw);
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#iconsBurger {
  cursor: pointer;
  display: none;
}

/* carousel */
.carousel-container,
.carousel-container2 {
  /* height: 100vh; */
  width: 100%;
  background: white;
  position: relative;
  padding: 0 5%;
}

.carousel-container img,
.carousel-container2 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

/* .carousel,
.carousel2 {

} */

.carousel-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageDescription,
#imageDescription2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.arrow_button_next,
.arrow_button_next2 {
  right: 20px;
  z-index: 1;
  /* position: absolute; */
}
.arrow_button_prev,
.arrow_button_prev {
  left: 20px;
  z-index: 1;
  /* position: absolute; */
}

.arrow_button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  z-index: 1;
}

.arrow_button:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow_button svg {
  width: 50px;
  height: 50px;
}
.arrow_button svg path {
  stroke: white;
}

.big-container {
  display: none;
}

@media (max-width: 650px) {
  #iconsBurger {
    display: block;
  }
  #iconsBurger:before {
    content: "\2630";
  }
  .active #iconsBurger:before {
    content: "\2715";
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background-color: skyblue;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav ul li {
    padding: 3px 0;
  }
  nav ul li:hover {
    background: rgb(177, 219, 236);
  }
  nav.active ul {
    left: 0;
  }

  img {
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .paragraph {
    margin: 2rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  @import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .big-container {
    display: block;
  }

  .carousel-container {
    display: none;
  }

  img {
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1rem;
  }

  h2 {
    font-family: "Just Another Hand", cursive;
    font-weight: 200;
    font-size: 2rem;
  }

  h3 {
    max-width: 250px;
    margin-bottom: 1rem;
  }

  #title-nav {
    margin: 0;
  }

  .titleLogo {
    margin: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .div-groupes,
  .div-groupes2,
  .div-groupes3,
  .div-groupes4,
  .div-groupes5 {
    display: flex;
    margin: 60px;
    justify-content: center;
  }

  .personne-card {
    width: 500px;
    padding: 0 2, 5%;
    height: auto;
  }

  .groupDescription1,
  .groupDescription2,
  .groupDescription3,
  .groupDescription4,
  .groupDescription5 {
    display: flex;
  }

  .groupDiv {
    display: flex;
    flex-direction: column;
  }

  h4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Just Another Hand", cursive;
  }

  .logo-des-groupes {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
  }

  #logoLinkedin {
    width: 40px;
    height: 40px;
  }

  #logoGitHub {
    width: 40px;
    height: 40px;
  }

  .personnel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-txt {
    max-width: 250px;
  }
}
